---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ClientRouter } from "astro:transitions";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{SITE_TITLE}</title>
<meta name="description" content={SITE_DESCRIPTION} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<script
    src="https://cdn.peasy.so/peasy.js"
    is:inline
    data-website-id="01jwztq58c54cb20vdvyct432m"
    async></script>
<ClientRouter />
