@import 'tailwindcss';

@font-face {
	font-family: PleaseWriteMeASong;
	/* https://plus.excalidraw.com/excalifont */
	src: url('/Excalifont-Regular.woff2') format('woff2');
}

* {
	--background-blue: #1d97b8;
	--yellow: #fff2ab;
	--green: #cbf1c4;
	--pink: #ffcce5;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PleaseWriteMeASong', Roboto, sans-serif;
	background: #fafbfc;
	color: #222;
	line-height: 1.5em;
	font-size: 1rem;
}

/* Specific heading sizes and spacing */
h1 {
	font-size: 2.5rem;
	line-height: 1.2;
}

h2 {
	font-size: 2rem;
	line-height: 1.5;
}

h3 {
	font-size: 1.5rem;
	line-height: 2;
}

h4 {
	font-size: 1.2rem;
}

h2 span {
	background-color: var(--yellow);
}

h3 span {
	display: inline-block;
	background-color: var(--green);
}

h4 span {
	background-color: var(--pink);
}

p,
ol {
	margin-bottom: 1.5rem;
	max-width: 80ch;
}

/* Anchor tags */
a {
	color: #0366d6;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover,
a:focus {
	text-decoration: underline;
	color: #004080;
}

/* Lists */
ul,
ol {
	padding-left: 2em;
	list-style: revert;
}

/* Images */
img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 1.5rem;
}

/* Code blocks */
pre,
code {
	font-family: 'Fira Mono', 'Consolas', monospace;
	background: #f5f5f5;
	line-height: 1.3em;
	padding: 0 0.4em;
	margin-bottom: 1.5rem;
	display: inline-block;
	border-radius: 3px;
	border: 2px solid grey;
}

/* Blockquotes */
blockquote {
	border-left: 4px solid #eee;
	margin: 1em 0;
	padding: 0.5em 1em;
	color: #555;
	background: #f9f9f9;
}

button {
	display: inline-block;
	padding: 0.5em 1.25em;
	font-size: 1rem;
	font-family: inherit;
	font-weight: 600;
	color: #fff;
	border: none;
	background-color: var(--background-blue);
	border-radius: 0.375em;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	margin-top: 0.25rem;
	margin-bottom: 1.7rem;
}

button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
	box-shadow: none;
}
