---
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html>
    <BaseHead />
    <body>
        <div class="grid">
            <div class="cell flex items-center justify-center">
                <img
                    src="/src/components/assets/profileCircle.svg"
                    alt="Profile picture of me"
                />
            </div>
            <div class="cell flex items-center">
                <h1 style="margin-bottom: 0px;">Alex Kammin</h1>
            </div>
            <div class="cell lined">
                <a href="/">Home</a>
                <br />
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="cell lined overflow-y-scroll">
                <slot />
            </div>
        </div>
    </body>
</html>

<style>
    body {
        overflow: hidden;
        --margin-line: #941c5a;
        --lines: #1d97b8;
    }

    .grid {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 8fr;
        position: relative;
    }

    .cell {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .cell.lined {
        background-color: #fff;
        background-image: linear-gradient(
            var(--lines) 0.05em,
            transparent 0.05em
        );
        background-size: 100% 1.5em;
        background-color: transparent;
        line-height: 1.5rem;
    }

    /* Middle vertical red border */
    .grid::before {
        content: "";
        position: absolute;
        left: calc(100% / 5);
        top: 0;
        width: 2px;
        height: 100%;
        background: red;
        z-index: 2;
    }
</style>
